
.container-flex {
  @include flexbox(unset, wrap, space-between, flex-start, rem(20));
    padding: rem(20);
  }
  
  .user-info-container, .password-update-container {
    background-color: var(--white);
    border-radius: rem(8);
    box-shadow: 0 rem(2) rem(4) rgba(0, 0, 0, 0.1);
    padding: rem(20);
    width: calc(50% - 10px);
  
    h2 {
      text-align: center;
      color: #333;
      margin-bottom: rem(20);
    }
  
    .user-info-form, .password-update-form {
      width: 100%;
      max-width: rem(500);
      margin: auto;
  
      .form-group {
        margin-bottom: rem(15);
  
        label {
          display: block;
          margin-bottom: rem(5);
        }
  
        input[type="text"], input[type="email"], input[type="password"] {
          width: 100%;
          padding: rem(10);
          border-radius: rem(4);
          border: rem(1) solid #ddd;
        }
      }
  
      .btn-update {
        width: 100%;
        padding: rem(10);
        border: none;
        border-radius: rem(4);
        background-color: var(--back-office);
        color: var(--white);
        cursor: pointer;
  
        &:hover {
          background-color: var(--back-office-hover);
        }
      }
    }
  }
  
  @media screen and (max-width: rem(767)) {
    .user-info-container, .password-update-container {
      width: 100%;
    }
  }