.navbar {
    background-color: var(--website-bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  
    .container {
      @include flexbox(row, nowrap, space-around, center);
    }
  
    .logo-container {
      display: flex;
      align-items: center;
  
      .logo {
        width: rem(70);
        height: rem(65);
        position: relative;
      }
    }
  
    .navbar-links {
      gap: rem(32);
      display: flex;
      justify-content: space-around;
      font-family: var(--website-font-family);
      list-style-type: none;
  
      li {
        position: relative;
        font-size: var(--main-size);
  
        &:hover .dropdown-content {
          display: block;
          justify-content: center;
          list-style-type: none;
        }
      }
  
      a {
        font-size: var(--main-size);
        text-decoration: none;
        color: var(--text-color);
        display: block;
        text-align: left;
  
      }
    }
  
    .more {
      color: var(--text-color);
      cursor: pointer;
      
      .dropdown-content {
        display: none;
        position: absolute;      
        min-width: 10rem;
        background-color: var(--website-bg-color);
        box-shadow: 0 0.5rem 1rem var(--btn-bg-hover-color);
        z-index: 1;
        padding: 0;
    
        li a {
          color: var(--text-color);
          padding: 0.75rem;
          display: block;
          &:hover {
            color: var(--reverse-text-color);
            background-color: var(--dropdown-link-hover-bg-color);
          }
        }
        
      }
    
    }
    
    .line {
      width: 100%;
      display: block;
      background-color: var(--reverse-bg-color);
      height: rem(1);
      border: none;
    }
  
    .theme-switcher {
      position: absolute;
      right: 5%;
      cursor: pointer;
      padding: rem(10);
  
      .icon {
        width: rem(24);
        height: rem(24);
      }
  
      .icon-sun {
        display: none;
      }
    }
  }