.hero{
    position: relative;
    aspect-ratio: 100/42;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
    padding: 10rem;
    display: flex;
        flex-direction: column;
        justify-content: center;

    &-img{
        object-fit: cover;
    }
    &-full{
        &::before{
            content: '';
            position:relative;
            overflow: hidden;
        }
        .content{display: none;}
    }
    &::before{
        content: '';
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize($black, 0.6);

    }

    .content{
        display: flex;
        flex-direction: column;
    }
}
        


